*{
    font-family: "Inter", sans-serif;
}

.table{
    /*font-size: 12px;*/
}

.heading-font{
    font-family: "Playfair Display", serif;
}

.card{
    /*height: 100%;*/
    margin-bottom: 0;
    /*box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%), 0 1px 8px 0 rgb(39 44 51 / 2%);*/

    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid #dfe2e6;
    border-radius: .5rem;
    box-shadow: 0 3px 3px -2px rgba(39,44,51,.1), 0 3px 4px 0 rgb(39 44 51/4%), 0 1px 8px 0 rgb(39 44 51/2%);
    display: flex;
    flex-direction: column;
    /*margin: 0 .6rem .6rem;*/
    min-width: 0;
    position: relative;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
}

.text-body a{
    color: #148BDD;
    cursor: pointer;
}

.link-primary{
    color: #148BDD;
}


a{
    color: #6c757d;
}
a:hover{
    color: #6c757d;
}

.sermon{
    margin-bottom: 24px;
}

.sermon .card:hover{
    cursor: pointer;
}

.font-bold{
    font-weight: bold;
}

.text-black-900{
    color: #272727;
}

.text-gray-500{
    color: #a0a5ab;
}

.text-mute{
    color: #a0a5ab;
}

.text-gray-200{
    color: #f3f3f3;
}

.text-4xl{
    font-size: 32px;
}

.text-3xl{
    font-size: 28px;
}
.text-2xl{
    font-size: 24px;
}
.text-xl{
    font-size: 20px;
}

.text-lg{
    font-size: 16px;
}

.text-base{
    font-size: 12px;
}

.text-sm{
    font-size: 12px;
}

.text-xs{
    font-size: 10px;
}

.chip{
    color: #6c757d;
    background-color: #e5e7eb;
    border-radius: 6px;
    /*font-weight: bold;*/
    font-size: 10px;
    padding: 4px 8px;
}

.big-chip{
    color: #6c757d;
    background-color: #e5e7eb;
    border-radius: 10px;
    /*font-weight: bold;*/
    font-size: 14px;
    padding: 6px 10px;
}

/* Padding */
.p-10 {
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-40{
    padding: 40px;
}
.p-60{
    padding: 60px;
}

/* Margin */
.ml-8{
    margin-left: 8px;
}

.mb-8{
    margin-bottom: 8px;
}

.mt-16{
    margin-top: 16px;
}
.mt-60{
    margin-top: 60px;
}

.mb-16{
    margin-bottom: 16px;
}

.p-btn{
    color: white;
    background-color: #148BDD;
    padding: 12px 16px;
    font-size: 14px;
    border-radius: 6px;
    border: 0;
    /*font-family: "Exo 2", sans-serif;*/
    /*text-transform: uppercase;*/
}

button.p-btn{
    padding: 10px 16px;
}

.p-btn.secondary{
    background-color: #11b766;
}

.p-btn.error{
    background-color: #c1504f;
}

.p-btn:hover{
    color: white;
}

.image-placeholder{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.avatar{
    position: relative;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 1px solid #dfe2e6;
    margin: auto;
    z-index: 2;
}


.avatar-sm{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.flex{
    display: flex;
}
.author{
    margin-bottom: 24px;
}

.author .image-placeholder{
    height: 300px;
}

.text-center{
    text-align: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.text-red{
    color:#921c32;
}

svg.w-5.h-5{
    height: 20px;
}

#layout-wrapper > div.main-content > div > div > nav {
    display: block;
}

#layout-wrapper > div.main-content > div > div > nav > div{
    margin-bottom: 20px;
}

.div-center{
    margin: auto;
}

/* Sermon Profile */
.sermon-card{
    margin-top: -150px;
    z-index: 1;
}

.sermon-card .card-body{
    padding-top: 150px;
}

.sermon-card .card-body .heading-font{
    font-size: 40px;
    color: #0a1832;
    font-weight: 400;
}

/* Cell Profile */
.cell-profile .card-body .heading-font{
    display: flex;
    align-items: center;
    line-height: 1.2;
}
.cell-profile .card-body .chip.zone{
    margin-left: 5px;
}

.account-balance{
    color: #6c757d;
    background-color: #e5e7eb;
    /*color:  #e5e7eb;*/
    /*background-color: #0a1832;*/
    border-radius: 10px;
    /*font-weight: bold;*/
    /*font-size: 14px;*/
    min-width: 200px;
    padding: 6px 10px;
}

.card.members .accordion-item, .card.meetings .accordion-item{
    border: 0;
}

.card.members .accordion-item .avatar-sm{
    margin-right: 10px;
}

.btn-icon{
    font-size: 18px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 6px;
    border: 0;
    color: #6c757d;
    background-color: #e5e7eb;
}

.btn-icon:hover{
    color: white;
    background-color: #148BDD;
    /*padding: 12px 16px;*/
    /*font-size: 14px;*/
    /*background-color: #ecf0f3;*/
    border: 0;
}

button.btn-text{
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

button.btn-text.error{
    color: #c1504f;
}

ul#ui-id-1{
    z-index: 9999;
}

.row .modal{
    position: fixed;
}

/* Attendance */
.attendance .btn-icon{
    font-size: 12px;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 6px;
    border: 0;
    color: white;
    background-color: #1cbb8c;
}

.attendance .btn-icon.error{
    color: white;
    background-color: #c1504f;
}

.attendance .btn-icon:hover{
    color: white;
    background-color: #39b793;
    /*padding: 12px 16px;*/
    /*font-size: 14px;*/
    /*background-color: #ecf0f3;*/
    border: 0;
}

.spacer.w-5{
    width: 5px;
}
.spacer.w-10{
    width: 10px;
}